* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-color-app: #eeeeee;
  --background-header: #ffffff;
  --ff-body: font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-color-app);
 
  font-family: var(--ff-body);

  display: grid;

  grid-template-rows: 15rem auto auto;

  grid-template-areas: 
  "header"
  "banner"
  "content";
}

button:hover, a:hover {
  opacity: 0.8;
}

header {
  background-color: var(--background-header);

  width: 100%;

  ma-height: 15rem;
 
 

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 0 3rem;

  grid-area: header;
}


header img {
  object-fit: cover;
  width: clamp(5rem, 7rem, 9rem);
  margin-left: 2rem;
}

header .top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  width: 50%;

}

header .bottom {
  display: flex;

  justify-content: space-around;;
  width: 50%;
  color: black;
}

header .bottom ul {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;

  gap: 2rem;

  width: 100%;

  list-style: none;
}


.bottom ul li a {
  display: flex;
  flex-direction: column;

  align-items: center;

  text-decoration: none;
  color: black;

  font-size: 16px
}

.search {
  width: 100%;
 margin: 0 auto;

  display: flex;
  gap: 2rem;


}

.search input {
  width: 100%;
  height: 40px;

  padding: 0 10px;
  border-radius: 10px;

  border-color: red;
  color: red;
}

.search input::placeholder {
  color: red;
}

.searchButton{
  border: none;
  background: none;

  cursor: pointer;
}

.fa-magnifying-glass {
  color: red;
}

.banner{
  width: 75%;
  height: 340px;

  margin: 0 auto;

  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  

  grid-area: banner;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;

  grid-template-columns: 1fr;

  grid-area: content;



  margin-top: 6rem;
  padding: 0 2rem;
}

.product {
  max-width: 90rem;
  min-height: 25rem;
  margin: 3px;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;

  background-color: white;


}

.description {
  display: flex;
  gap: 1rem;
  align-items: center;

  min-width: 10rem;
  padding: 0 2rem;
  margin-bottom: 4rem;

  font-size: clamp(12px, 13px, 15px);
  font-weight: 800;
}

.description img {
  object-fit: cover;
  height: clamp(8rem, 10rem, 20rem);
  
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;

  color: green;
  font-weight: 800;
}

.store {
  font-weight: 40;
  font-size: 1.2rem;
}



.line {
  margin-top: 1rem;
  border: 2px solid red;
  background-color: red;
  width: 100%;

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  height: 100%;
  width: 100%;

  padding: 0 20px;

 
}

.actions{
  display: flex;
  justify-content: flex-end;
  width: 100%;



  gap: 1rem;

}




.link{
  display: flex;
  align-items: center;
  justify-self: end;

  padding: 10px;

  border-radius: 10px;
  border: none;
 

  background: none;
}



.link a {
  text-decoration: none;
  color: #e06666;
}

@media (max-width: 760px) {
  .banner {
    display: none;
  }
}


@media (min-width: 320px) {
  .search {
    min-width: 120px;
  }
}



@media(min-width: 750px){
  .app {
    grid-template-columns: 1fr 1fr;
  }

  .search {
    min-width: 400px;
  }
}

@media(min-width: 1024px){
  .app{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .search {
    min-width: 600px;
  }
}

@media(min-width:1440px){
  .app{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}







